@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* White */
    --background: 0 0% 100%;
    /* Black */
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    /* Green */
    --primary: 164 86% 16%;
    --primary-foreground: 163 88% 20%;

    /* Black */
    --secondary: 240 10% 3.9%;
    /* White */
    --secondary-foreground: 0 0% 100%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 164 86% 16%;
    --radius: 0.75rem;
  }
}

@layer base {
  * {
    @apply border-border scroll-smooth;
  }
  body {
    @apply bg-background text-foreground;
  }

  h1 {
    @apply text-xl md:text-3xl lg:text-6xl xl:text-7xl font-bold leading-[40px] md:leading-[52px] lg:leading-[68px] xl:leading-[72px];
  }

  h2 {
    @apply mb-1 text-md font-bold text-primary;
  }

  h3 {
    @apply text-lg md:text-xl lg:text-2xl font-semibold leading-[28px] md:leading-[32px] lg:leading-[36px];
  }

  h4 {
    @apply text-sm lg:text-md text-left font-bold;
  }
}
